section {
  overflow: hidden;
  width: 100%;

  &:not(:first-child) {
    padding: 10rem 0;

    @include laptop {
      padding: 8rem 0;
    }
    @include tablet {
      padding: 6rem 0;
    }
  }
}

p {
  line-height: 2.4rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3rem;
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  overflow: hidden;

  @include laptop {
    max-width: 820px;
  }

  @include tablet {
    max-width: 640px;
  }
}

.section-title {
  color: $secondary;
  text-transform: uppercase;
  padding-bottom: 2rem;
  margin-bottom: 5.5rem;
  text-align: center;
  position: relative;
  font-size: 3.6rem;

  &.title-secondary {
    text-transform: none;
    text-align: left;
    margin-bottom: 3rem;

    &::after {
      left: 0;

      @include tablet {
        left: calc(50% - 30px);
      }
    }

    @include tablet {
      text-align: center;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 65px;
    background: $primary;
    left: calc(50% - 30px);
  }

  @include laptop {
    font-size: 3rem;
  }
}

.section-title-sec {
  margin-bottom: 2rem;
  color: $white;
  font-size: 3.6rem;

  @include tablet {
    font-size: 2.7rem;
  }
}

.card-row {
  display: flex;
  justify-content: space-between;

  div {
    flex: 1;
    position: relative;
  }

  @include laptop {
    flex-direction: column;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary;
}

svg {
  pointer-events: none;
}

.section-centered {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  > div {
    width: 60%;
    @include tablet {
      width: 100%;
    }
  }
}
