$font-1: "Montserrat", sans-serif;

$primary: #3f4ce7;
$secondary: #363b3e;
$test: #0d5daa;
$white: #fff;
$gray: #555;
$blue: #0060e6;
$blue-2: #1a4ccc;

$accent-base: #8eeec0;
$cutty-sark: #546e7a;
$porcelain: #eceff1;
$border-color: #dcdcdc;
