.about-sec {
  // text-align: center;

  h2,
  .about-text {
    padding-bottom: 2rem;
  }

  strong {
    color: #363b3e;
  }

  .btn {
    margin-top: 3.5rem;
    &:hover {
      background-color: #1a4ccc;
      color: #fff;
    }
  }

  .card-row {
    align-items: center;

    > div:first-child {
      padding-right: 7rem;

      @include tablet {
        padding-right: 0;

        .about-footer {
          text-align: center;
        }
      }
    }
    .image-wrapper {
      box-shadow: 0 14px 54px 0 rgb(26 36 71 / 24%);
      line-height: 0;
      @include laptop {
        margin-top: 4rem;
        align-self: start;
      }

      @include tablet {
        align-self: center;
      }
    }
  }

  .about-extra {
    display: flex;
    margin-top: 1rem;
    @include mobile {
      flex-direction: column;
      > :first-child {
        margin-bottom: 2rem;
      }
    }
  }
  @include tablet {
    text-align: center;
  }
}

.page-section {
  color: $white;
  background-color: #051b42;

  > * > .row {
    align-items: center;
  }
}

.schedule {
  &__event {
    display: flex;
    align-items: center;
    padding: 2.4rem;
    border-bottom: 1px solid #acacac;
    &--time {
      flex-basis: 20%;
      font-size: 1.8rem;

      &-dash {
        position: relative;
        top: 0;
        left: 0;
        width: 1px;
        height: 20px;
        margin: 20px 0;
        margin-left: 36px;
        background-color: #001131;
      }

      @include tablet {
        font-size: 1.5rem;
        flex-basis: 24%;
      }
    }

    &--info {
      flex: 1;
      color: $secondary;
      font-size: 1.4rem;

      &-title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 1.2rem;

        @include tablet {
          font-size: 1.8rem;
        }
      }

      @include tablet {
        padding: 0 1.5rem;
      }
    }

    &--extra {
      flex-basis: 10rem;

      .btn {
        font-size: 1.4rem;
        padding: 0;
        border: none;
        display: flex;
        justify-content: center;

        svg {
          margin-right: 0.8rem;
          @include tablet {
            max-width: 2.8rem;
            margin-right: 0;
          }
        }
      }

      span {
        @include tablet {
          display: none;
        }
      }

      @include tablet {
        flex-basis: 3rem;
      }
    }

    @include tablet {
      padding: 2rem 1rem;
    }

    @include mobile {
      padding: 2rem 0;
    }
  }
}

.btn-list {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  justify-content: center;

  .btn {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    padding: 1.2rem 2rem;
    justify-content: center;
    width: 100%;
    > :last-child {
      margin-left: 1rem;
    }
    @include mobile {
      margin-right: 0;
      margin-bottom: 1.6rem;
    }
    &:hover {
      background-color: #1a4ccc;
      border-color: #1a4ccc;
    }
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}
